body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-family: 'PT Sans', sans-serif;
}
a { color: inherit;
}
* {
  box-sizing: border-box;
}
.menubar {
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 20px;
  border-bottom: 1px solid #aaa;
  box-shadow: 0 2px 15px 2px rgba(0, 0, 0, .5);
}
.menubar a {
  height: 20px;
  text-decoration: none;
  color: #aaa;
}
.menubar img {
  height: 80%;
  width: auto;
}
